{{=BEAUTIFY(session)}}
{{response.title = "Registro de projetos"}}
{{response.files.append(URL(r=request,c='static/js',f='registro.js'))}}
{{extend 'layout.html'}}
<noscript><meta http-equiv="refresh" content="0; url={{=URL('default')}}"></noscript>
<h2>{{=response.title}}</h2>
<br />
        <div class="alert alert-danger" role="alert">
            <p><b>Prezado professor,</b></p>
            <p>Após o envio destes arquivos aguarde por email a notificação de sua avaliação.</p>
            <p>Caso existam dois relatórios de bolsista, favor condensá-los em apenas um arquivo.</p>
        </div>
{{=form}}
